@import "http://fonts.googleapis.com/css?family=Roboto:400,300";
                                                              

.m-a-0{
	margin:0 !important
}

.m-t-0{
	margin-top:0 !important
}

.m-r-0{
	margin-right:0 !important
}

.m-b-0{
	margin-bottom:0 !important
}

.m-l-0{
	margin-left:0 !important
}

.m-x-0{
	margin-right:0 !important;
	margin-left:0 !important
}

.m-y-0{
	margin-top:0 !important;
	margin-bottom:0 !important
}

.m-a{
	margin:15px !important
}

.m-t{
	margin-top:15px !important
}

.m-r{
	margin-right:15px !important
}

.m-b{
	margin-bottom:15px !important
}

.m-l{
	margin-left:15px !important
}

.m-x{
	margin-right:15px !important;
	margin-left:15px !important
}

.m-y{
	margin-top:15px !important;
	margin-bottom:15px !important
}

.m-x-auto{
	margin-right:auto !important;
	margin-left:auto !important
}

.m-a-md{
	margin:22.5px !important
}

.m-t-md{
	margin-top:22.5px !important
}

.m-r-md{
	margin-right:22.5px !important
}

.m-b-md{
	margin-bottom:22.5px !important
}

.m-l-md{
	margin-left:22.5px !important
}

.m-x-md{
	margin-right:22.5px !important;
	margin-left:22.5px !important
}

.m-y-md{
	margin-top:22.5px !important;
	margin-bottom:22.5px !important
}

.m-a-lg{
	margin:45px !important
}

.m-t-lg{
	margin-top:45px !important
}

.m-r-lg{
	margin-right:45px !important
}

.m-b-lg{
	margin-bottom:45px !important
}

.m-l-lg{
	margin-left:45px !important
}

.m-x-lg{
	margin-right:45px !important;
	margin-left:45px !important
}

.m-y-lg{
	margin-top:45px !important;
	margin-bottom:45px !important
}

.p-a-0{
	padding:0 !important
}

.p-t-0{
	padding-top:0 !important
}

.p-r-0{
	padding-right:0 !important
}

.p-b-0{
	padding-bottom:0 !important
}

.p-l-0{
	padding-left:0 !important
}

.p-x-0{
	padding-right:0 !important;
	padding-left:0 !important
}

.p-y-0{
	padding-top:0 !important;
	padding-bottom:0 !important
}

.p-a{
	padding:15px !important
}

.p-t{
	padding-top:15px !important
}

.p-r{
	padding-right:15px !important
}

.p-b{
	padding-bottom:15px !important
}

.p-l{
	padding-left:15px !important
}

.p-x{
	padding-right:15px !important;
	padding-left:15px !important
}

.p-y{
	padding-top:15px !important;
	padding-bottom:15px !important
}

.p-a-md{
	padding:22.5px !important
}

.p-t-md{
	padding-top:22.5px !important
}

.p-r-md{
	padding-right:22.5px !important
}

.p-b-md{
	padding-bottom:22.5px !important
}

.p-l-md{
	padding-left:22.5px !important
}

.p-x-md{
	padding-right:22.5px !important;
	padding-left:22.5px !important
}

.p-y-md{
	padding-top:22.5px !important;
	padding-bottom:22.5px !important
}

.p-a-lg{
	padding:45px !important
}

.p-t-lg{
	padding-top:45px !important
}

.p-r-lg{
	padding-right:45px !important
}

.p-b-lg{
	padding-bottom:45px !important
}

.p-l-lg{
	padding-left:45px !important
}

.p-x-lg{
	padding-right:45px !important;
	padding-left:45px !important
}

.p-y-lg{
	padding-top:45px !important;
	padding-bottom:45px !important
}


.row-centered{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}

.row-spaced{
	margin-bottom:80px !important
}

.row-spaced:last-child{
	margin-bottom:0 !important
}

.row-padded{
	padding-top:80px;
	padding-bottom:90px
}

.row-bordered{
	position:relative
}

.row-bordered:before{
	content:'';
	display:block;
	width:80%;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-40%;
	height:1px;
	background:-webkit-radial-gradient(center, ellipse, rgba(0,0,0,0.2) 0, rgba(255,255,255,0) 75%);
	background:radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0, rgba(255,255,255,0) 75%)
}

.row .screenshot{
	margin-bottom:40px
}

.container-fill-height{
	min-height:100vh
}

.container-overflow-wrap{
	overflow:hidden
}


.text-muted{
	color:#697176
}

.panel-profile .panel-title{
	margin-bottom:5px
}

.panel-profile .panel-heading{
	height:150px;
	background-size:cover;
}

.panel-profile-img{
	max-width:100px;
	margin-top:-70px;
	margin-bottom:5px;
	border:3px solid #fff;
	border-radius:100%;
	box-shadow:0 1px 1px rgba(0,0,0,0.1)
}

.panel-menu{
	list-style:none;
	padding:0
}

.panel-menu-item{
	display:inline-block;
	padding:0 10px;
	border-right:1px solid var(--colorGrayLighter)
}

.panel-menu-item:last-child{
	border-right:0
}